{
  "singleQuote": true,
  "overrides": [
    {
      "files": [
        "**/*.js"
      ],
      "options": {
        "singleQuote": true,
        "printWidth": 92,
        "trailingComma": "none",
        "semi": false
      }
    }
  ]
}
